*,
*::before,
*::after,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*,
::after,
::before {
    box-sizing: border-box;

}

/* root have no effect on site just use not to remember things just put importants things that we want to use again and again */
:root {
    --primary-color: #153b51;
    --secondary-color: #FFD175;
    --button-background: #ffb319;
    /* we use it to not remember hexa code and use it where want */
    --adobe-clean-light: "Adobe Clean Light", sans-serif;
    --adobe-clean-regular: "Adobe Clean Regular", sans-serif;

}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    /* to stop horrizontal scroll baar */

}

/* body{
    font-family: Arial, Helvetica, sans-serif;
} */
/* fonts downloaded from adobe clean */
@font-face {
    font-family: 'Adobe Clean Light';
    src: url('fonts/AdobeClean-Light.eot');
    src: url('fonts/AdobeClean-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/AdobeClean-Light.woff') format('woff'),
        url('fonts/AdobeClean-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Adobe Clean Regular';
    src: url('fonts/AdobeClean-Regular.eot');
    src: url('fonts/AdobeClean-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/AdobeClean-Regular.woff') format('woff'),
        url('fonts/AdobeClean-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'learning_curveregular';
    src: url('learning_curve_regular_ot_tt-webfont.woff2') format('woff2'),
        url('learning_curve_regular_ot_tt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'learning-curve';
    src: url('fonts/learning_curve_bold_ot_tt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'learning-curve-unbold';
    src: url('fonts/learning_curve_regular_ot_tt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Josefin-Sans';
    src: url('fonts/JosefinSans-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open-Sans';
    src: url('fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: var(--adobe-clean-regular);
    color: var(--primary-color);
}

a:hover {

    font-weight: 600;
    text-decoration: none;


}

.navbar {
    margin-top: 50px;
}

.bg-light {
    background-color: transparent !important;
}


.nav-link {

    opacity: .9;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    border: none;
}

.navbar-brand {
    color: #a84d38 !important;
    opacity: 0.9;
    padding: 21.5px 12px;
    font-family: learning-curve !important;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0em;
    line-height: 1em;
    text-transform: none;
    font-style: normal;
    text-align: center;
    margin: 0 5px 0 5px;

}

.navbar-brand:hover {
    color: #222 !important;
}

.nav-side-element {

    color: #222 !important;
    font-family: Josefin-Sans !important;
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
    letter-spacing: .2em;
    text-transform: uppercase;
    white-space: nowrap;
    line-height: 1em;
}

.nav-side-element:hover {
    background-color: transparent !important;
    color: #a84d38 !important;
}

.fa-shopping-cart:hover {
    background-color: transparent !important;
    color: #a84d38 !important;

}

.navbar .container {
    position: relative;
}

.icon-class {
    position: absolute;
    right: calc(1.5em + 60px);
    top: 2.1em;

}

.middle-section {
    width: 100%;
    height: 640px;
    background: url(mainsection-final.jpg) no-repeat center center;
    background-size: cover;
    background-position: center center;
    position: relative;
    padding: 100px 0 !important;
    text-align: center;
    z-index: 1;


}
.middle-section::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    display: block;
    height: 100%;
    width: 100%;
    opacity: .4;
    z-index:2;
    }
.middle-section .container{
    position: absolute;
    width: 100%;
    z-index: 3;
    margin: 0 auto !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
   
}
.middle-section .container .row {
    text-align: center;
    margin: 0 auto;
    display: inline-block;


}

.middle-section h3 {
    font-weight: bold;
    text-align: center;
    color: #fdfdfd;
    font-family: Josefin-Sans !important;
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
    letter-spacing: -.1px;
    line-height: 1.3;
    text-transform: none;
    text-align: center;
    display: inline-block;
    text-shadow: 1px 1px 20px #000000ab;

}

/* .color-overlay {
    width: 100%;
    height: auto !important;
    background: black;
    opacity: 0.4;
    position: absolute;
    transition: 1s;
}

.color-overlay:hover {
    width: 100%;
    height: auto !important;
    background: black;
    opacity: 0.7;
    position: absolute;
    transition: 1s;
} */




.sqs-block-button-element--small {
    color: #fff;
    background-color: #ad8c68;
    border-color: #ad8c68;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: Josefin-Sans;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: .2px;
    display: inline-block;
    width: auto;
    height: auto;
    border-width: 0;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-appearance: none;
    display: inline-block;
    padding: 15px 26px 13px 26px;
    border: 1px solid var(--secondary-color);

    box-shadow: 0px 0px 20px #00000017, 0px 0px 40px #00000017, 0px 0px 100px #00000017;
}


.main-section {
    width: 100%;
    height: auto !important;
    font-family: Open-Sans;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    letter-spacing: .03em;
    line-height: 1.8em;
    text-transform: none;
    color: #222;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0 !important;
}
.main-section{
    width: 100%;
    height: auto !important;
}
.main-section .col-lg-4 {
    text-align: center;
}

.main-section p {
    font-family: Open-Sans !important;
    font-weight: 300 !important;
    font-style: normal;
    font-size: 16px !important;
    letter-spacing: .03em;
    line-height: 1.8em;
    text-transform: none;
    color: #222;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    opacity: 1;
}

.main-section h2 {
    font-family: learning-curve-unbold;
    font-weight: 400;
    font-style: normal;
    font-size: 50px !important;
    letter-spacing: 0em;
    line-height: 1em;
    text-transform: none;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    opacity: 1;
}

.main-section h1 {
    font-family: Josefin-Sans !important;
    font-weight: 400;
    font-style: normal;
    font-size: 33px;
    letter-spacing: .03em;
    line-height: 1.4em;
    text-transform: none;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

.main-section img{
    cursor: pointer;
}

.main-section .sqs-block-button-element {
    font-family: Josefin-Sans;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: #fff;
    background-color: #97a5aa;
    border-color: #97a5aa;
    display: inline-block;
    width: auto;
    height: auto;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    line-height: 1.5;
    padding: 13px 26px;
    padding-top: 15px;
    -webkit-font-smoothing: antialiased;
    box-shadow: none;
    transition: .8s;
    box-shadow: none !important;

}

.main-section .sqs-block-button-element:hover {
    opacity: 0.8;
    transition: .8s;
}

.middle-main-section {
    width: 100%;
    height: auto !important;
    background: url(nord.jpg) no-repeat center center;
    background-size: cover;
    background-position: center center;
    position: relative;
    padding: 100px 0 !important;


}

.middle-main-section .container {
    width: 100%;
    height: auto !important;
    text-align: center;
    margin: 0 auto;

}

.middle-main-section .container .row {
    text-align: left;
    margin: 0 auto;
    display: inline-block;


}

.middle-main-section h2 {
    font-weight: bold;
    color: #222;
    display: block;
    z-index: 1;
    text-shadow: 1px 1px 20px #000000ab;
    font-family: learning-curve;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    letter-spacing: 0em;
    line-height: 1em;
    text-transform: none;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-shadow: none;

}

.middle-main-section h1 {
    font-family: Josefin-Sans !important;
    font-weight: 400;
    font-style: normal;
    font-size: 33px;
    letter-spacing: .03em;
    line-height: 1.4em;
    text-transform: none;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #222;

}

.middle-main-section p {
    font-family: Open-Sans !important;
    font-weight: 300 !important;
    font-style: normal;
    font-size: 16px !important;
    letter-spacing: .03em;
    line-height: 1.8em;
    text-transform: none;
    color: #222;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    opacity: 1;
}


.blogs-section {
    width: 100%;
    height: auto !important;
    text-align: center;
    margin: 0 auto;
    align-items: center;
    padding: 100px 0 !important;
}
.blogs-section .container{
    width: 100%;
    height: auto !important;
}
.blogs-section h2 {
    font-family: learning-curve-unbold;
    font-weight: 400;
    font-style: normal;
    font-size: 50px !important;
    letter-spacing: 0em;
    line-height: 1em;
    text-transform: none;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #1d1d1d;


}
.blogs-section img{
    cursor: pointer;
}

.blogs-section .button-blog {
    padding: 13px 26px;
    font-family: Josefin-Sans;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: #fff;
    background-color: #97a5aa !important;
    border-color: #97a5aa !important;
    display: inline-block;
    width: auto;
    height: auto;
    border-width: 0;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    appearance: none;
    line-height: 1.5;
    padding-top: 15px;
    -webkit-font-smoothing: antialiased;
    transition: .8s;
    box-shadow: none !important;
}

.blogs-section .button-blog:hover {
    opacity: 0.8;
    transition: .8s;
}

.blogs-section .container .row {
    margin-left: 0;
    margin-right: 0;
}

.blog-section .container {
    width: auto;
}

/* Email-section */

.Email-section {
    width: 100%;
    height: auto !important;
    background: url(student.jpg) no-repeat center center;
    background-size: cover;
    background-position: center center;
    position: relative;
    padding: 100px 0 !important;

}

.Email-section .container {
    width: 100%;
    height: auto !important;
    text-align: center;
    margin: 0 auto;

}

.Email-section .container .row {
    text-align: left;
    margin: 0 auto;
    display: inline-block;


}

.Email-section h2 {
    font-weight: bold;
    color: #222;
    display: block;
    z-index: 1;
    text-shadow: 1px 1px 20px #000000ab;
    font-family: learning-curve;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    letter-spacing: 0em;
    line-height: 1em;
    text-transform: none;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-shadow: none;

}

.Email-section h1 {
    font-family: Josefin-Sans !important;
    font-weight: 400;
    font-style: normal;
    font-size: 33px;
    letter-spacing: .03em;
    line-height: 1.4em;
    text-transform: none;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #222;

}

.Email-section p {
    font-family: Open-Sans !important;
    font-weight: 300 !important;
    font-style: normal;
    font-size: 16px !important;
    letter-spacing: .03em;
    line-height: 1.8em;
    text-transform: none;
    color: #222;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    opacity: 1;
}


.email-button {
    font-family: Josefin-Sans !important;
    font-size: 11px;
    font-weight: 400 !important;
    font-style: normal;
    height: 42px;
    letter-spacing: .2em;
    padding-top: 15px !important;
    padding-right: 2em;
    padding-left: 2em;
    text-transform: uppercase;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    background-color: #ad8c68;
    border: 1px solid #ad8c68;
    border-radius: 0;
    width: 50% !important;
    padding: 1em 2.5em;
    text-align: center;
    cursor: pointer;
    appearance: none;


}

.email-box {
    font-family: Josefin-Sans !important;
    font-weight: 400 !important;
    font-style: normal;
    height: 42px;
    border-radius: 0;
    width: 100% !important;
    padding: 1em 2.5em;
    text-align: left;
    padding: 1em;
    border-color: var(--primary-color);
    font-family: inherit;
    font-size: 15px;
    line-height: normal;
    outline: none;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    appearance: textfield;
    text-rendering: auto;
    cursor: text;
}

.page-footer {
    width: 100%;
    height: auto !important;
    background-color: #97a5aa;
    text-align: center;
    padding: 100px 0 !important;
}
.page-footer .container{
    width: 100% !important;
    height: auto !important;

}

.Footer-nav-item {

    padding-right: 1em;
    display: inline-block;
    color: #fff;
    transition: color .15s ease-out;
    text-decoration: none;
    cursor: pointer;
    font-family: Josefin-Sans;
    font-weight: 400 !important;
    font-style: normal;
    font-size: 12px !important;
    letter-spacing: .2em !important;
    line-height: 2em !important;
    text-transform: uppercase !important;
    text-align: center !important;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased !important;
}

.Footer-nav-group :last-child {
    padding-right: 0px !important;
}

.page-footer h2 {
    font-family: learning-curve-unbold;
    font-weight: 400;
    font-style: normal;
    font-size: 50px !important;
    letter-spacing: 0em;
    line-height: 1em;
    text-transform: none;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    opacity: 1;
}

.page-footer .last-intro {
    text-align: center;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #fff;
    font-family: Open-Sans;
    font-weight: 300 !important;
    font-style: normal;
    font-size: 16px;
    letter-spacing: .03em;
    line-height: 1.8em;
    text-transform: none;
}

.page-footer .footer-icons i {
    transition: .8s;
}

.page-footer .footer-icons i:hover {
    transition: .6s;
    color: white;
    cursor: pointer;
}

.page-footer .footer-icons:hover {
    color: #c7ccced8;
    transition: .5s;
    cursor: pointer;
}

.page-footer .last-intro a {
    font-weight: 300 !important;
    color: white;
    text-decoration: underline !important;
    transition: .5s;
}

.page-footer .last-intro a:hover {
    color: var(--primary-color);
    transition: .3;
}

.page-footer .Footer-nav-group .Footer-nav-item:hover {
    color: var(--primary-color) !important;
    cursor: pointer;
    transition: .4s;
}




/* ********************************************************About ****************************************/
.About-middle-section {
    width: 100%;
    height: 450px;
    background: url(about-image-cropped.jpg) no-repeat center center;
    background-size: cover;
    background-position: center center;
    position: relative;
    padding: 100px 0 !important;
    text-align: center;
    z-index: 1;


}
.About-middle-section::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    display: block;
    height: 100%;
    width: 100%;
    opacity: .4;
    z-index:2;
    }
.About-middle-section .container{
    position: absolute;
    width: 100%;
    z-index: 3;
    margin: 0 auto !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
   
}
.About-middle-section .container .row {
    text-align: center;
    margin: 0 auto;
    display: inline-block;


}

.About-middle-section h3,h4 {
    font-weight: bold;
    text-align: center;
    color: #fdfdfd;
    font-family: Josefin-Sans !important;
    font-weight: 500;
    font-style: normal;
    font-size: 45px;
    letter-spacing: -.1px;
    line-height: 1.3;
    text-transform: none;
    text-align: center;
    display: inline-block;
    text-shadow: 1px 1px 20px #000000ab;

}
.About-middle-section h4{
font-size: 30px !important;
}
/* .color-overlay {
    width: 100%;
    height: auto !important;
    background: black;
    opacity: 0.4;
    position: absolute;
    transition: 1s;
}

.color-overlay:hover {
    width: 100%;
    height: auto !important;
    background: black;
    opacity: 0.7;
    position: absolute;
    transition: 1s;
} */



/* 
.sqs-block-button-element--small {
    color: #fff;
    background-color: #ad8c68;
    border-color: #ad8c68;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: Josefin-Sans;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: .2px;
    display: inline-block;
    width: auto;
    height: auto;
    border-width: 0;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-appearance: none;
    display: inline-block;
    padding: 15px 26px 13px 26px;
    border: 1px solid var(--secondary-color);

    box-shadow: 0px 0px 20px #00000017, 0px 0px 40px #00000017, 0px 0px 100px #00000017;
} */

.About-main-section{
    width: auto;
    height: auto;
    padding: 100px 0;;
}
.About-main-section .about-hand-pic{
    background-size: initial;
    width: 70000px;

}
.middle-main-section .container .row {
    text-align: left;
    margin: 0 auto;
    display: inline-block;


}

.About-main-section h2 {
    font-weight: bold;
    color: #222;
    display: block;
    z-index: 1;
    text-shadow: 1px 1px 20px #000000ab;
    font-family: learning-curve;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    letter-spacing: 0em;
    line-height: 1em;
    text-transform: none;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-shadow: none;

}

.About-main-section h1 {
    font-family: Josefin-Sans !important;
    font-weight: 400;
    font-style: normal;
    font-size: 33px;
    letter-spacing: .03em;
    line-height: 1.4em;
    text-transform: none;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #222;

}

.About-main-section p {
    font-family: Open-Sans !important;
    font-weight: 300 !important;
    font-style: normal;
    font-size: 16px !important;
    letter-spacing: .03em;
    line-height: 1.8em;
    text-transform: none;
    color: #222;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    opacity: 1;
}
.About-main-section span{
    text-decoration: underline;
}
.About-main-section hr{
    color: #ad8c68;
    background-color: #ad8c68;
    border: none;
    height: 1px;
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    margin-top: 8px;
    margin-bottom: 8px;

}
.About-main-section .heading-2 , .heading-1, .para{
    text-align: center !important;
}
.About-main-section .sqs-block-button-element {
    font-family: Josefin-Sans;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: #fff;
    background-color: #97a5aa;
    border-color: #97a5aa;
    display: inline-block;
    width: auto;
    height: auto;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    line-height: 1.5;
    padding: 13px 26px;
    padding-top: 15px;
    -webkit-font-smoothing: antialiased;
    box-shadow: none;
    transition: .8s;
    box-shadow: none !important;

}

.About-main-section .sqs-block-button-element:hover {
    opacity: 0.8;
    transition: .8s;
}







.Course-middle-section {
    width: 100%;
    height: 450px;
    background: url(course-head-cropped.jpg) no-repeat center center;
    background-size: cover;
    background-position: center center;
    position: relative;
    padding: 100px 0 !important;
    text-align: center;
    z-index: 1;


}
.Course-middle-section::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    display: block;
    height: 100%;
    width: 100%;
    opacity: .4;
    z-index:2;
    }
.Course-middle-section .container{
    position: absolute;
    width: 100%;
    z-index: 3;
    margin: 0 auto !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
   
}
.Course-middle-section .container .row {
    text-align: center;
    margin: 0 auto;
    display: inline-block;


}

.Course-middle-section h3,h4 {
    font-weight: bold;
    text-align: center;
    color: #fdfdfd;
    font-family: Josefin-Sans !important;
    font-weight: 500;
    font-style: normal;
    font-size: 45px;
    letter-spacing: -.1px;
    line-height: 1.3;
    text-transform: none;
    text-align: center;
    display: inline-block;
    text-shadow: 1px 1px 20px #000000ab;

}
.Course-middle-section h4{
font-size: 30px !important;
}

.course-middle-section{
    width: 100%;
    height: auto;
    padding: 100px 0;
}
.course-middle-section h1 {
    font-family: Josefin-Sans !important;
    font-weight: 400;
    font-style: normal;
    font-size: 33px;
    letter-spacing: .03em;
    line-height: 1.4em;
    text-transform: none;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #222;

}

.course-middle-section p {
    font-family: Open-Sans !important;
    font-weight: 300 !important;
    font-style: normal;
    font-size: 16px !important;
    letter-spacing: .03em;
    line-height: 1.8em;
    text-transform: none;
    color: #222;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    opacity: 1;
}

.course-middle-section .sqs-block-button-element {
    font-family: Josefin-Sans;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: #fff;
    background-color: #97a5aa;
    border-color: #97a5aa;
    display: inline-block;
    width: auto;
    height: auto;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    line-height: 1.5;
    padding: 13px 26px;
    padding-top: 15px;
    -webkit-font-smoothing: antialiased;
    box-shadow: none;
    transition: .8s;
    box-shadow: none !important;

}

.course-middle-section .sqs-block-button-element:hover {
    opacity: 0.8;
    transition: .8s;
}

















.Blogs-middle-section {
    width: 100%;
    height: 450px;
    background: url(blogs-header.jpg) no-repeat center center;
    background-size: cover;
    background-position: center center;
    position: relative;
    padding: 100px 0 !important;
    text-align: center;
    z-index: 1;


}
.Blogs-middle-section::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    display: block;
    height: 100%;
    width: 100%;
    opacity: .4;
    z-index:2;
    }
.Blogs-middle-section .container{
    position: absolute;
    width: 100%;
    z-index: 3;
    margin: 0 auto !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
   
}
.Blogs-middle-section .container .row {
    text-align: center;
    margin: 0 auto;
    display: inline-block;


}

.Blogs-middle-section h3,h4 {
    font-weight: bold;
    text-align: center;
    color: #fdfdfd;
    font-family: Josefin-Sans !important;
    font-weight: 500;
    font-style: normal;
    font-size: 45px;
    letter-spacing: -.1px;
    line-height: 1.3;
    text-transform: none;
    text-align: center;
    display: inline-block;
    text-shadow: 1px 1px 20px #000000ab;

}
.Blogs-middle-section h4{
font-size: 30px !important;
}

.blogs-middle-section{
    width: 100%;
    height: auto;
    padding: 80px 0;
}
.blogs-middle-section h1 {
    font-family: Josefin-Sans !important;
    font-weight: 400;
    font-style: normal;
    font-size: 33px;
    letter-spacing: .03em;
    line-height: 1.4em;
    text-transform: none;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #222;
    
    

}
.blogs-middle-section h2{
    cursor: pointer;
}

.blogs-middle-section p {
    font-family: Open-Sans !important;
    font-weight: 300 !important;
    font-style: normal;
    font-size: 16px !important;
    letter-spacing: .03em;
    line-height: 1.8em;
    text-transform: none;
    color: #222;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    opacity: 1;
}

.blogs-middle-section .img-fluid{
    width: 100%;
    max-width: 800px;
    padding: 0 70px;
   
}

.blogs-middle-section .heading-2{
    font-family: Josefin-Sans;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    letter-spacing: .03em;
    line-height: 1.4em;
    text-transform: none;
    text-decoration: none;
    color: #222;
    max-width: 800px !important;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
}
.blogs-middle-section p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: left;
    font-family: Open-Sans !important;
    font-weight: 300 !important;
    font-style: normal;
    font-size: 16px !important;
    letter-spacing: .03em;
    line-height: 1.8em;
    text-transform: none;
    color: #222;
    box-sizing: border-box;
    width: 73.328% !important;
    max-width: 800px !important;
    margin-left: auto;
    margin-right: auto;
}
.blogs-middle-section .read-more {
    text-align: center;
}
.blogs-middle-section span a{
    color: #222 !important;
    transition: color .15s ease-out !important;
    text-decoration: none;
    -webkit-box-ordinal-group: 1;
    order: 1;
    font-family: Josefin-Sans;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    letter-spacing: .15em;
    text-transform: uppercase;
    content: '\00B7';
    margin: 0 .5em;
}

.blogs-middle-section .read-more span a{
    font-family: Josefin-Sans;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    letter-spacing: .15em;
    text-transform: uppercase;
    color: #a84d38 !important;
    white-space: nowrap;
    cursor: pointer;
    content: "\2192";
    padding-left: .7em;
    transition: .4s;
}
.blogs-middle-section .read-more span a:hover{
    opacity: .7;
    transition: .6s;
}






.shop-section {
    width: 100%;
    height: 400px;
    background: url(shops-header-cropped.jpg) no-repeat center center;
    background-size: cover;
    background-position: center center;
    position: relative;
    padding: 100px 0 !important;
    text-align: center;
    z-index: 1;


}
.shop-section::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    display: block;
    height: 100%;
    width: 100%;
    opacity: .4;
    z-index:2;
    }
.shop-section .container{
    position: absolute;
    width: 100%;
    z-index: 3;
    margin: 0 auto !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
   
}
.shop-section .container .row {
    text-align: center;
    margin: 0 auto;
    display: inline-block;


}

.shop-section h3 {
    font-weight: bold;
    text-align: center;
    color: #fdfdfd;
    font-family: Josefin-Sans !important;
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
    letter-spacing: -.1px;
    line-height: 1.3;
    text-transform: none;
    text-align: center;
    display: inline-block;
    text-shadow: 1px 1px 20px #000000ab;

}


.shop-middle-section {
    width: 100%;
    height: auto !important;
    text-align: center;
    margin: 0 auto;
    align-items: center;
    padding: 100px 0 !important;
}
.shop-middle-section .container{
    width: 100%;
    height: auto !important;
}
.shop-middle-section h2 {
    font-family: learning-curve-unbold;
    font-weight: 400;
    font-style: normal;
    font-size: 50px !important;
    letter-spacing: 0em;
    line-height: 1em;
    text-transform: none;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #1d1d1d;


}
.shop-middle-section img{
    cursor: pointer;
    object-fit: cover;
    text-align: center;
}
.shop-middle-section .card-img-top{
    object-fit: cover;
    height: 20vw;
    /* width: 20vw; */
    text-align: center;
} 
.shop-middle-section .container .row {
    margin-left: 0;
    margin-right: 0;
}

.shop-middle-section .container {
    width: auto;
}
.shop-middle-section h4{
    font-weight: bold;
    text-align: center;
    color: black;
    font-family: Josefin-Sans !important;
    font-weight: 300 !important;
    font-style: normal;
    font-size: 20px;
    letter-spacing: -.1px;
    line-height: 1.3;
    text-transform: uppercase;
    display: inline-block;
    text-shadow: none;
}
.shop-middle-section p{
    opacity: 0.6;
}

















.contact-section {
    width: 100%;
    height: 400px;
    background: url(contact-header2.jpg) no-repeat center center;
    background-size: cover;
    background-position: center center;
    position: relative;
    padding: 100px 0 !important;
    text-align: center;
    z-index: 1;


}
.contact-section::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    display: block;
    height: 100%;
    width: 100%;
    opacity: .4;
    z-index:2;
    }
.contact-section .container{
    position: absolute;
    width: 100%;
    z-index: 3;
    margin: 0 auto !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
   
}
.contact-section .container .row {
    text-align: center;
    margin: 0 auto;
    display: inline-block;


}

.contact-section h3 {
    font-weight: bold;
    text-align: center;
    color: #fdfdfd;
    font-family: Josefin-Sans !important;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    letter-spacing: -.1px;
    line-height: 1.3;
    text-transform: none;
    text-align: center;
    display: inline-block;
    text-shadow: 1px 1px 20px #000000ab;

}

.contact-section .sqs-block-button-element {
    font-family: Josefin-Sans;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: #fff;
    background-color: #97a5aa;
    border-color: #97a5aa;
    display: inline-block;
    width: auto;
    height: auto;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    line-height: 1.5;
    padding: 13px 26px;
    padding-top: 15px;
    -webkit-font-smoothing: antialiased;
    box-shadow: none;
    transition: .8s;
    box-shadow: none !important;

}

.contact-section .sqs-block-button-element:hover {
    opacity: 0.8;
    transition: .8s;
}




.contact-main-section{
    width: 100%;
    height: auto;
    padding: 100px 0;
}


.contact-main-section .info p {
    text-align:center;
    color: #999;
    text-transform:none;
    font-weight:600;
    font-size:15px;
    margin-top:2px
  }
  
  .contact-main-section .info i {
    color: #97a5aa;;
  }
  .contact-main-section form h1 {
    font-size: 18px;
    background:  #97a5aa none repeat scroll 0% 0%;
    color: rgb(255, 255, 255);
    padding: 22px 25px;
    border-radius: 5px 5px 0px 0px;
    margin: auto;
    text-shadow: none; 
    text-align:left
  }
  
  .contact-main-section form {
    border-radius: 5px;
    max-width:700px;
    width:100%;
    margin: 5% auto;
    background-color: #FFFFFF;
    overflow: hidden;
  }
  
  .contact-main-section p span {
    color:  #97a5aa;
  }
  
  .contact-main-section p {
    margin: 0px;
    font-weight: 500;
    line-height: 2;
    color:#333;
  }
  
  .contact-main-section h1 {
    text-align:center; 
    color: #666;
    text-shadow: 1px 1px 0px #FFF;
    margin:50px 0px 0px 0px
  }
  
  .contact-main-section input {
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #eee;
    margin-bottom: 15px;
    width: 75%;
    height: 40px;
    float: left;
    padding: 0px 15px;
  }
  
  .contact-main-section a {
    text-decoration:inherit
  }
  
  .contact-main-section textarea {
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #EEE;
    margin: 0;
    width: 75%;
    height: 130px; 
    float: left;
    padding: 0px 15px;
  }
  
  .contact-main-section .form-group {
    overflow: hidden;
    clear: both;
  }
  
  .contact-main-section .icon-case {
    width: 35px;
    float: left;
    border-radius: 5px 0px 0px 5px;
    background:#eeeeee;
    height:42px;
    position: relative;
    text-align: center;
    line-height:40px;
  }
  
  .contact-main-section i {
    color:#555;
  }
  
  .contact-main-section  .contentform {
    padding: 40px 30px;
  }
  
  .contact-main-section .bouton-contact{
    background-color: #b3796c !important;;
    color: #FFF;
    text-align: center;
    width: 100%;
    border:0;
    padding: 17px 25px;
    border-radius: 0px 0px 5px 5px;
    cursor: pointer;
    margin-top: 40px;
    font-size: 18px;
  }
  
  .contact-main-section .leftcontact {
    width:49.5%; 
    float:left;
    border-right: 1px dotted #CCC;
    box-sizing: border-box;
    padding: 0px 15px 0px 0px;
  }
  
  .contact-main-section .rightcontact {
    width:49.5%;
    float:right;
    box-sizing: border-box;
    padding: 0px 0px 0px 15px;
  }
  
  .contact-main-section .validation {
    display:none;
    margin: 0 0 10px;
    font-weight:400;
    font-size:13px;
    color:  #97a5aa;
  }
  
  .contact-main-section #sendmessage {
    border:1px solid #fff;
    display:none;
    text-align:center;
    margin:10px 0;
    font-weight:600;
    margin-bottom:30px;
    background-color: #EBF6E0;
    color: #5F9025;
    border: 1px solid #B3DC82;
    padding: 13px 40px 13px 18px;
    border-radius: 3px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.03);
  }
  
  .contact-main-section #sendmessage.show,.show  {
    display:block;
  }





  .contact-main-section h2{
    font-family: learning-curve-unbold;
    font-weight: 400;
    font-style: normal;
    font-size: 50px !important;
    letter-spacing: 0em;
    line-height: 1em;
    text-transform: none;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    opacity: 1;
  }

  .contact-main-section .instagam-box{
      text-align: center;
  }
/******************************************************** About End********************************************* */
/* media screen */
@media screen and (max-width:768px) {

    .middle-main-section {

        background-image: none;
        height: auto !important;

    }

    .Email-section {
        background-image: none;
       height: auto !important;
    }

}

@media screen and (min-width:768px) {
    .navbar .navbar-brand {
        font-size: 50px !important;
    }

    .navbar .container {
        position: relative;
    }

    .icon-class {
        position: absolute;
        right: calc(1.5em + 60px);
        top: 2.7em;

    }
   
}

@media screen and (min-width:1200px) {
    .middle-main-section {
        background-position: left;
        background-size: 50% auto;
    }

    .middle-main-section .intro-col {
        padding-left: 120px;
    }



    .Email-section {
        background-position: right;
        background-size: 50% auto;
    }

    .Email-section .intro-col {
        padding-right: 120px;
    }
}
 @media screen and (min-width:1600px){
    .container{
        max-width: 1400px
    }
  }
    
  @media screen and (max-width:479px)
  { 
      .email-button{
       
        font-size: 8px;
        padding-bottom: 6px !important;
      }
        
  }
  @media screen and (min-width:1199px)
  { 
      .email-button{
       
        font-size: 10px;
        padding-top: 16px !important;
      }
        
  }
 
  @media screen and (max-width:575px)
  { 
    .shop-middle-section .card-img-top{
        object-fit: cover;
        height: 50vw;
        /* width: 20vw; */
        text-align: center;
    } 
  }


  
@media screen and (min-width:1040.01px) {}

@media screen and (min-width:1600px) {}